[user]
	name = Nik Visenko
	email = nik.vschenko@sylvera.io
	initials = nv
[alias]
	br = branch --sort=-committerdate
	co = checkout
	log = git log --graph --decorate --pretty
	append = commit --amend --no-edit
	last = log -1 HEAD
	rb = rebase -i origin/master
	hub = !hub

[push]
	default = current
[format]
	pretty = tformat:%C(green)%h%C(reset) %C(bold blue)%ar%C(reset) %C(yellow)%an%C(reset) %C(bold red)%d%C(reset) %s\
[filter "lfs"]
	clean = git-lfs clean -- %f
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = /Users/nikvisenko/.gitignore
[web]
	browser = open
[github]
	token = echo $GITHUB_TOKEN

[core]
	pager = delta

[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false # required for git 2.37.0

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
		side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
